@model IEnumerable<ShopCart>
<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
            @foreach (var item in Model)
            {
                <h2>@item.Product.Name</h2>
                <h3>@item.Count</h3>
            }
        </dt>
     
    </dl>
</div>

